<div ng-controller="defaultController as defaultCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{defaultCtrl.title}}
        </h3>
    </div>
    <div class="panel-body">
        {{defaultCtrl.content}}
    </div>
    <div class="panel-footer">
        {{defaultCtrl.foot}}
    </div>
</div>
