body {
    height: 100%;
    width: 100%;
}

footer {
    bottom: -50px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}
#menu{
    padding-left: 0px;
}

#main-content{
    margin: 10px;
}
#navi{
    padding: 0px;
}
#navi nav{
    margin:0px;
}