<div ng-controller="userProfileController as userPfileCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{userPfileCtrl.title}}
        </h3>
    </div>
    <div class="panel-body">
        {{userPfileCtrl.content}}
    </div>
    <div class="panel-footer">
       {{userPfileCtrl.foot}}
    </div>
</div>
