<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>admin seed</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css
">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<link rel="stylesheet" type="text/css" href="css/index.css">
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 column" id="navi">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Admin Seed</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#/configuration">Configuration</a>
                        </li>
                        <li>
                            <a href="#/monitor">Monitor</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">User Profile</a>
                                </li>
                                <li>
                                    <a href="#">Tools Settings</a>
                                </li>
                                <li>
                                    <a href="#">Admin Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language Switch<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">English</a>
                                </li>
                                <li>
                                    <a href="#">Simple Chinese</a>
                                </li>
                                <li>
                                    <a href="#">French</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 column" id="menu">
            <aside class="sidebar show perfectScrollbar" ng-controller="indexController as indexCtrl">
                <div id="solso-sidebar">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div ng-repeat="menu in indexCtrl.menuList">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#{{menu.name.replace(' ','')}}" aria-expanded="true"
                                           aria-controls="{{menu.name.replace(' ','')}}">
                                            <i class="fa fa-bar-chart-o"></i> {{menu.name}}
                                            <i class="pull-right fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>

                                <div id="{{menu.name.replace(' ','')}}" class="panel-collapse collapse in"
                                     role="tabpanel" aria-labelledby="heading2">
                                    <div ng-repeat="child in menu.children">
                                        <a ui-sref="{{child.state}}" class="list-group-item">{{child.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-md-10 column">
            <div id="main-content">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Library</a>
                    </li>
                    <li class="active">
                        Data
                    </li>
                </ul>
                <div class="panel panel-primary">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
    <footer style="text-align:center">
        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>
<script data-main="javascripts/main" src="http://cdn.staticfile.org/require.js/2.1.22/require.min.js"></script>
</body>

</html>
